
header.kbia-top{
	position:fixed;
	z-index: 50;
	height:50px;
	width:100%;
	background-color: #fff;
	border-bottom:1px solid lighten(black,90%);

	img.logo{
		max-height:100%;
		padding-top:7px;
		padding-bottom:5px;
		padding-left:50px;

		//@media screen and (max-width: @screen-md){
		//	padding-left:5px;
		//}
	}
}

header.kbia-top-dark{
	background-color: $gray-dark;
	border-bottom: 1px solid lighten($gray-dark, 20%);
}

div.container:first-of-type{
	padding-top:65px;
}